# Ignorar archivos y directorios de compilación
*.pyc
*.pyo
*.pyd
__pycache__
*.pdb

# Ignorar archivos temporales
*.swp
*.swo
*.log

# Ignorar directorios de entornos virtuales
venv/
env/
.venv/
.virtualenv/

# Ignorar archivos específicos de IDEs
.vscode/
.idea/

# Ignorar archivos de dependencias
*.egg
*.egg-info/
dist/
build/

# Archivos de configuración de editor
*.sublime-workspace
*.sublime-project
